
.tabbed{
  float : left;
  width : 100%;
}

.tabbed > input{
  display : none;
}

.tabbed > section > h1 , .tabbed > form > section > h1
{
  float       : left;
  box-sizing  : border-box;
  margin      : 0;
  padding     : 0.5em 0.5em 0;
  overflow    : hidden;
  font-size   : 1em;
  font-weight : normal;
}


.tabbed > input:first-child + section > h1 , .tabbed > form > input:first-child + section > h1{
  padding-left : 2em;
}

.tabbed > form > section > h1 > label{
  display                 : block;
  color                   :	#fff;
  padding                 : 0.25em 0.75em; 
  border-bottom           : none;
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
  box-shadow              : 0 0 0.5em rgba(0,0,0,0.0925);
  background              : #f9a11b;
  cursor                  : pointer;
     -moz-user-select     : none;
      -ms-user-select     : none;
  -webkit-user-select     : none;
}

.tabbed > section > h1 > label , .tabbed > form > section > h1 > label{
  display                 : block;
  color                   :	#fff;
  padding                 : 0.25em 0.75em; 
  border-bottom           : none;
  border-top-left-radius  : 4px;
  border-top-right-radius : 4px;
  box-shadow              : 0 0 0.5em rgba(0,0,0,0.0925);
  background              : #f9a11b;
  cursor                  : pointer;
     -moz-user-select     : none;
      -ms-user-select     : none;
  -webkit-user-select     : none;
}

.tabbed > section > div , .tabbed > form > section > div
{
  position      : relative;
  z-index       : 1;
  float         : right;
  box-sizing    : border-box;
  width         : 100%;
  margin        : 2.5em 0 0 -100%;
  padding       : 0.5em 0.75em; 
  border-radius : 4px;
  box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625);
  background    : #fff;
}

.tabbed > input:checked + section > h1 , .tabbed >  input:checked + form > h1
{  
  padding       			: 0.5em 0.75em;	  	
  z-index       			: -3;    
  border-radius 			: 10px;	
  background    			: #f9a11b;
  box-shadow    			: 0 0 0.5em rgba(0,0,0,0.0625);	
  border-top-left-radius  	: 5px;
  border-top-right-radius 	: 5px;   
}

.tabbed > input:not(:checked) + section > div , .tabbed >  input:not(:checked) + form > div{
  display : none;
}
label.required:after
{
	content:"*";
	color:red;
}
span.error:after{
	margin-left:10px;
}